.akun-x-anon-toggle {
  user-select: none;
  display: flex !important;
  align-items: center;
  flex-shrink: 1 !important;
  flex-grow: 1;
  overflow: hidden;

  .avatar {
    margin-right: 4px;
    display: inline;
    border-radius: 2em;
    position: relative;
  }

  .username {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
