.akun-x-anon-toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.akun-x-anon-toggle .avatar{
    margin-right: 4px;
    display: inline;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    border-radius: 2em;
    position: relative;
    top: -1px;
}
