.akun-x-sort-button {
  user-select: none;
  display: flex !important;
  align-items: center;

  .button-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px !important;
  }
}
